body{
	background-color: white;
}
.pantalla{
	
	max-height: 660px;
	max-width: 1330px;
	height: 100%;
	width: 100%;
	left: 18px;
	position: absolute;
	display: inline-block;


}
.pantalla .sidebar{
	background-color: black;
	max-width: 15%;
	width: 12%;
	max-height: 100%;
	height: 45%;
	display: inline-block;
	color: white;
	
}
.animation_t{
	display: inline-block;
	position: fixed;
}
.button1{
	background-color: black;
}